<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/breeds.css"/>
    <link rel="stylesheet"  href="/stylesheets/menu.css"/>
	<title>  CatDog </title>
    <link rel="shortcut icon" href="/public/images/icon.ico" />
</head>
<body >
	<div id="containers">
	<nav>
		<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="">DOGS</a>
				<ul>
					<li><a href="/dogs/news">NEWS</a></li>
					<li><a href="/dogs/breeds">BREEDS</a></li>
					<li><a href="/dogs/photos">PHOTOS</a></li>
					<li><a href="/dogs/videos">VIDEOS</a></li>
				</ul>
				</li>
				<li><a href="">CATS</a>
				<ul>
						<li><a href="/cats/news">NEWS</a></li>
						<li><a href="/cats/breeds">BREEDS</a></li>
						<li><a href="/cats/photos">PHOTOS</a></li>
						<li><a href="/cats/videos">VIDEOS</a></li>
						</ul>
								</li>
				<li><a href="/blog">BLOG</a></li>
				<% if (user) { %>
				<li><a href="/logout">LOG OUT</a></li>
				<% } else { %>
			<li><a href="/login">LOG IN</a></li>
				<% } %>

		</ul>
	</nav>
</div>
<%  {users.filter(x => x.username).forEach( justuser => { %>
<div class="container">
<div class="card u-clearfix">
	<div class="card-body">
		<div class="card-media">
			<img src='data:image/jpg;base64,<%= justuser.avatar %>' class="card-media-img" />
		</div>
		<h2 class="card-body-heading"><a href = "/users/<%= justuser._id %>"><%= justuser.username %></a></h2>
	<br><br>
	<a href="/users/deleteuser/<%= justuser._id %>" class="card-button card-button-cto">
DELETE USER</a>
	</div>
</div>
<% }) } %>
</div>

<!-- <div id="light-pagination" class="pagination">
<script type='text/javascript'>
$(window).load(function(){
$('#light-pagination').pagination({
	items: 5,
	itemsOnPage: 2,
	hrefTextPrefix: '',
	hrefTextSuffix: '.html',
	prevText: 'Пред',
	nextText: 'След',
	cssStyle: 'light-theme'
});
});
</script></div> -->
	<footer> <h1><% if (user) { %>
	YOU ARE <%= user.username %>
	<% } %></h1>
			</footer>
</body>
</html>
